.button-layout{
  border-radius: 3px;
  border: none;
  background: $blue-main;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  padding: $s-size;
  line-height: 1;
  text-decoration: none;
}

.button-layout--link {
  background: none;

}

.button-layout--secondary {
  @extend .button-layout;
  background: #888888;
}